<div class="form-wrapper">
    <div class="disable-cover"></div> <!-- For disabling form during submittion -->

    <div class="form" id="pageForm" action="" autocomplete="off" data-formtype="stamnings">
        <header class="fhead">
            <h1 class="fhead__header">Beställ Stämningspaketet</h1>
            <p class="fhead__text">Fyll i dina uppgifter nedan. Oroa inte dig för svaren. Du kan alltid ändra dessa senare om du vill genom att kontakta oss. Vi granskar också alla dina svar. Tror vi att andra svarsalternativ hade gynnat dig mer, så kontaktar vi dig för att föreslå ändringar. Vi inkluderar även en gemensam ansökan i paketet ifall din partner ändrar sig och går med på att skiljas.
                <br><br>Ni kommer inte att skiljas förrän du skrivit under och postat din ansökan till tingsrätten.
                <br><br>Väljer du att avbryta din skilsmässa så upprättar vi nya handlingar åt dig i framtiden utan extra kostnad.
                <br><br>Kostnad för Stämningspaketet:
                <br>Fast pris: 1590 kr.
            </p>
        </header>
        <section class="fsect" id="wife-section">
            <h2 id="wife_header" class="fsect__header fsect__header_wife-error">Kvinnans uppgifter</h2>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="wife_fname">Förnamn</label>
                    <li>
                        <input type="text" class="form-row__field" id="wife_fname" name="wife_fname" placeholder="Anna">
                    </li>
                    <div id="wife_fname_error" class="error">Var god ange kvinnans förnamn.</div>
                </div>
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="wife_lname">Efternamn</label>
                    <li>
                        <input type="text" class="form-row__field" id="wife_lname" name="wife_lname" placeholder="Nilsson">
                    </li>
                    <div id="wife_lname_error" class="error">Var god ange kvinnans efternamn.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <label>Personnummer</label>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_year" id="wife_year" name="wife_year">
                                <option value="0">År</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_month" id="wife_month" name="wife_month">
                                <option value="0">Månad</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_day" id="wife_day" name="wife_day">
                                <option value="0">Dag</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <input type="text" class="form-row__field" id="wife_ssn2" name="wife_ssn2" placeholder="1234">
                        </li>
                    </div>
                </div>
                <div id="wife_personnummer_error" class="error">Var god ange kvinnans personnummer.</div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="wife_wants_divorce">Vill kvinnan skiljas?</label>
                    <li>
                        <select class="form-row__field" id="wife_wants_divorce" name="wife_wants_divorce">
                            <option value="0">Välj nedan</option>
                            <option value="yes">Ja</option>
                            <option value="no">Nej</option>
                        </select>
                    </li>
                    <div id="wife_wants_divorce_error" class="error">Du måste ange om personen är villig att skiljas.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <label for="wife_street_address">Gatuadress</label>
                        <li>
                            <input type="text" class="form-row__field" id="wife_street_address" name="wife_street_address" placeholder="Riksvägen 45">
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-short">
                        <label for="wife_postal_address1">Postnummer</label>
                        <li>
                            <input type="text" class="form-row__field" id="wife_postal_address1" name="wife_postal_address1" placeholder="107 55">
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-long">
                        <label for="wife_postal_address2">Stad</label>
                        <li>
                            <input type="text" class="form-row__field" id="wife_postal_address2" name="wife_postal_address2" placeholder="Stockholm">
                        </li>
                    </div>
                </div>
                <div id="wife_address_error" class="error">Var god ange kvinnans adress.</div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="wife_city">Kommun</label>
                    <li>
                        <select class="form-row__field form-row__field_municip" id="wife_city" name="wife_city">
                            <option value="0">Välj nedan</option>
                        </select>
                    </li>
                    <div id="wife_city_error" class="error">Var god ange kvinnans kommun.</div>
                </div>
            </div>
        </section>
        <section class="fsect" id="husband-section">
            <h2 id="husband_header" class="fsect__header fsect__header_husband-error">Mannens uppgifter</h2>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="husband_fname">Förnamn</label>
                    <li>
                        <input type="text" class="form-row__field" id="husband_fname" name="husband_fname" placeholder="Lukas">
                    </li>
                    <div id="husband_fname_error" class="error">Var god ange mannens förnamn.</div>
                </div>
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="husband_lname">Efternamn</label>
                    <li>
                        <input type="text" class="form-row__field" id="husband_lname" name="husband_lname" placeholder="Nilsson">
                    </li>
                    <div id="husband_lname_error" class="error">Var god ange mannens efternamn.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <label>Personnummer</label>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_year" id="husband_year" name="husband_year">
                                <option value="0">År</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_month" id="husband_month" name="husband_month">
                                <option value="0">Månad</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_day" id="husband_day" name="husband_day">
                                <option value="0">Dag</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <input type="text" class="form-row__field" id="husband_ssn2" name="husband_ssn2" placeholder="1234">
                        </li>
                    </div>
                </div>
                <div id="husband_personnummer_error" class="error">Var god ange mannens personnummer.</div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="husband_wants_divorce">Vill mannen skiljas?</label>
                    <li>
                        <select class="form-row__field" id="husband_wants_divorce" name="husband_wants_divorce">
                            <option value="0">Välj nedan</option>
                            <option value="yes">Ja</option>
                            <option value="no">Nej</option>
                        </select>
                    </li>
                    <div id="husband_wants_divorce_error" class="error">Du måste ange om personen är villig att skiljas.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <label>Samma adress som kvinnan?</label>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-short form-row__field-wrapper_halfable">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="husband_rb_y" name="husband_rb" value="y"/>
                            <label for="husband_rb_y" class="radio__label">Ja</label>
                        </div>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-short form-row__field-wrapper_halfable">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="husband_rb_n" name="husband_rb" value="n"/>
                            <label for="husband_rb_n" class="radio__label">Nej</label>
                        </div>
                    </div>
                </div>
                <div id="husband_rb_error" class="error">Du måste svara på frågan</div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <label for="husband_street_address">Gatuadress</label>
                        <li>
                            <input type="text" class="form-row__field husband_address_group" id="husband_street_address" name="husband_street_address" placeholder="Riksvägen 45">
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-short">
                        <label for="husband_postal_address1">Postnummer</label>
                        <li>
                            <input type="text" class="form-row__field husband_address_group" id="husband_postal_address1" name="husband_postal_address1" placeholder="107 55">
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-long">
                        <label for="husband_postal_address2">Stad</label>
                        <li>
                            <input type="text" class="form-row__field husband_address_group" id="husband_postal_address2" name="husband_postal_address2" placeholder="Stockholm">
                        </li>
                    </div>
                </div>
                <div id="husband_address_error" class="error">Var god ange mannens adress.</div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="husband_city">Kommun</label>
                    <li>
                        <select class="form-row__field form-row__field_municip husband_address_group" id="husband_city" name="husband_city">
                            <option value="0">Välj nedan</option>
                        </select>
                    </li>
                    <div id="husband_city_error" class="error">Var god ange mannens kommun.</div>
                </div>
            </div>
        </section>
        <section class="fsect" id="children-section">
            <h2 id="children_header" class="fsect__header fsect__header_children-error">Barn</h2>
            <p>Har du och din partner några gemensamma barn under 18 år?</p>
            <p class="greytext">Barn från tidigare förhållande berörs inte. Har ni gemensamma barn så oroa er inte för vårdnad och var barnen ska bo. <br>Svarar du "ja", så kommer du få svara på ett par extra frågor om just detta.</p>
            <div class="faq">
                <a href="#" class="faq__switch">Öppna vanliga frågor och svar</a>
                <div class="faq__list">
                    <h3 class="faq__header">Vad ska jag svara om våra barn inte är gemensamma?</h3>
                    <p class="faq__text">Då svarar du “Nej”. Svara bara “Ja” om ni har barn under 18 år som ni båda är föräldrar till.</p>
                    <h3 class="faq__header">Våra barn är gemensamma men 18 år eller äldre. Vad ska jag svara?</h3>
                    <p class="faq__text">Svara "Nej". Svara bara “Ja” om ni har barn under 18 år som ni båda är föräldrar till. Är alla barnen 18 år eller äldre, så är de enligt lagen vuxna människor och berörs inte av er skilsmässa.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-short form-row__field-wrapper_halfable">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="children_rb_y" name="children_rb" value="y"/>
                            <label for="children_rb_y" class="radio__label">Ja</label>
                        </div>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter-short form-row__field-wrapper_halfable">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="children_rb_n" name="children_rb" value="n"/>
                            <label for="children_rb_n" class="radio__label">Nej</label>
                        </div>
                    </div>
                </div>
                <div id="children_rb_error" class="error">Du måste svara på frågan</div>
            </div>
        </section>
        <section class="fsect" id="common-children-section">
            <h2 id="common-children_header" class="fsect__header fsect__header_multi fsect__header_common-children-error">Gemensamma barn<br>
                <span class="subheader">Hoppa över denna fråga om ni inte har gemensamma barn under 18 år</span></h2>
            <p>Ange samtliga gemensamma barn under 18 år som ni har gemensam vårdnad om.</p>
            <div class="faq">
                <a href="#" class="faq__switch">Öppna vanliga frågor och svar</a>
                <div class="faq__list">
                    <h3 class="faq__header">Ska jag även skriva ner barn från tidigare förhållande?</h3>
                    <p class="faq__text">Nej, skriv bara ner barn som ni båda är föräldrar till.</p>
                    <h3 class="faq__header">Ska jag skriva ner uppgifter på våra barn om de är 18 år eller äldre?</h3>
                    <p class="faq__text">Nej. Barn som är 18 år eller äldre, räknas enligt lagen som vuxna människor och berörs inte av er skilsmässa.</p>
                    <h3 class="faq__header">Hur lägger jag till fler barn?</h3>
                    <p class="faq__text">Klicka på “Lägg till fler barn” nere i vänster hörn.</p>
                </div>
            </div>
            <div class="children">
                <div class="child clearfix" data-child-id="0">
                    <div class="form-row">
                        <div class="form-row__field-wrapper form-row__field-wrapper_half">
                            <label for="child_0_fname">Förnamn</label>
                            <li>
                                <input type="text" class="form-row__field form-row__field_child-fname" id="child_0_fname" name="child_0_fname" placeholder="Leo" value="">
                            </li>
                            <div id="child_0_fname_error" class="error">Var god ange barnets förnamn.</div>
                        </div>
                        <div class="form-row__field-wrapper form-row__field-wrapper_half">
                            <label for="child_0_lname">Efternamn</label>
                            <li>
                                <input type="text" class="form-row__field form-row__field_child-lname" id="child_0_lname" name="child_0_lname" placeholder="Nilson" value="">
                            </li>
                            <div id="child_0_lname_error" class="error">Var god ange barnets efternamn.</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="clearfix">
                            <label>Personnummer</label>
                            <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                                <li>
                                    <select class="form-row__field form-row__field_year" id="child_0_year" name="child_0_year">
                                        <option value="0">År</option>    <!-- default value must be empty for performing validation -->
                                    </select>
                                </li>
                            </div>
                            <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                                <li>
                                    <select class="form-row__field form-row__field_month" id="child_0_month" name="child_0_month">
                                        <option value="0">Månad</option>
                                    </select>
                                </li>
                            </div>
                            <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                                <li>
                                    <select class="form-row__field form-row__field_day" id="child_0_day" name="child_0_day">
                                        <option value="0">Dag</option>
                                    </select>
                                </li>
                            </div>
                            <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                                <li>
                                    <input type="text" class="form-row__field" id="child_0_ssn2" name="child_0_ssn2" placeholder="1234">
                                </li>
                            </div>
                        </div>
                        <div id="child_0_personnummer_error" class="error">Var god ange barnets personnummer.</div>
                    </div>
                </div>
            </div>
            <a href="#" id="add-child" class="add-child">LÄGG TILL FLER BARN</a>
        </section>
        <section class="fsect" id="custody-section">
            <h2 id="custody_header" class="fsect__header fsect__header_multi fsect__header_custody-error">Snabb fråga om vårdnad<br>
                <span class="subheader">Hoppa över denna fråga om ni inte har gemensamma barn under 18 år</span></h2>
            <p>Hur vill ni göra med vårdnaden av era gemensamma barn?</p>
            <p class="greytext">Barn från tidigare förhållande berörs inte.</p>
            <div class="faq">
                <a href="#" class="faq__switch">Öppna vanliga frågor och svar</a>
                <div class="faq__list">
                    <h3 class="faq__header">Vad betyder vårdnad?</h3>
                    <p class="faq__text">Två gifta föräldrar har nästan alltid gemensam vårdnad om sina barn. Det betyder att ni båda två är juridiskt skyldiga att ta hand om barnen, kan skriva under för era barn i samband med att de ska börja i skolan osv.</p>
                    <p class="faq__text"> Vårdnad ska inte blandas ihop med var barnen ska bo. Ett barn kan efter skilsmässan bo hos ena föräldern (boförälder) även om ni har fortsatt gemensam vårdnad.</p>
                    <h3 class="faq__header">Vem ska ha vårdnaden efter skilsmässan?</h3>
                    <p class="faq__text">Vi rekommenderar att ni har fortsatt gemensam vårdnad. Det är vanligast.</p>
                    <h3 class="faq__header">Finns det någon anledning att välja ensam vårdnad?</h3>
                    <p class="faq__text">Det kan givetvis vara lämpligt om en av föräldrarna har dåligt inflytande på barnen, t.ex. genom missbruk eller våld.</p>
                    <p class="faq__text">I vissa situationer krävs underskrift från båda vårdnadshavare (om ni har gemensam vårdnad). Då kan det till viss del göra vardagen smidigare att ha ensam vårdnad om en av föräldrarna t.ex. bor utomlands eller är svår att nå.</p>
                    <p class="faq__text">Vi rekommenderar fortsatt gemensam vårdnad för de flesta. Men välj det alternativ som känns bäst för er.</p>
                    <p class="faq__text">Vi granskar era svar och kommer vi fram till att ni valt ett mindre lämpligt alternativ för just er situation, så kontaktar vi er och går igenom det.</p>
                    <h3 class="faq__header">Vad menas med alternativet “Vi väljer att dela upp vårdnaden”?</h3>
                    <p class="faq__text">Det är till för sällsynta fall där exempelvis modern vill ha ensam vårdnad om ett av barnen och fadern vill ha ensam vårdnad om något annat av barnen. Ett exempel kan kanske vara om ena föräldern ska flytta utomlands och det äldsta barnet valt att följa med.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper">
                    <div class="radio">
                        <input class="form-row__field radio__input" type="radio" id="custody-consent" name="custody" value="consent"/>
                        <label for="custody-consent" class="radio__label">Vi vill ha fortsatt gemensam vårdnad. (Rekommenderas)</label>
                    </div>
                </div>
            </div>
            <div class="form-row" >
                <div class="form-row__field-wrapper">
                    <div class="radio radio_vcenter">
                        <input class="form-row__field radio__input" type="radio" id="custody-single" name="custody" value="single"/>
                        <label for="custody-single" class="radio__label">Jag, </label>
                    </div>
                </div>
                <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                    <li>
                        <select class="form-row__field form-row__field_vcenter" id="single_custody_who" name="single_custody_who">
                            <option value="wife">Kvinnan</option>
                            <option value="husband">Mannen</option>
                        </select>
                    </li>
                </div>
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label class="p_vcenter">skall ha ensam vårdnad om samtliga barn.</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper">
                    <div class="radio">
                        <input class="form-row__field radio__input" type="radio" id="custody-divided" name="custody" value="divided"/>
                        <label for="custody-divided" class="radio__label">Vi väljer att dela upp vårdnaden av barnen:</label>
                    </div>
                </div>
            </div>
            <div class="form-row form-row_indented form-row_indented_wife">
                <label>Jag, Kvinnan, skall ha ensam vårdnad om följande barn:</label>
            </div>
            <div class="form-row form-row_indented form-row_indented_husband">
                <label>Jag, Mannen, skall ha ensam vårdnad om följande barn:</label>
            </div>
            <div id="custody_error" class="error">Eftersom ni fyllt i att ni har gemensamma barn måste ni ange hur ni vill att vårdnaden ska se ut efter skilsmässan.</div>
            <div id="custody_error1" class="error">Vill ni dela upp vårdnaden måste ni ange vem som skall ha vårdnaden om barnet/barnen. Tänk på att delad vårdnad inte betyder fortsatt gemensam vårdnad. Det betyder att ni delar upp vårdnaden om era barn. Det är ovanligt och skall bara väljas i undantagsfall. Ett exempel kan vara om fadern flyttar utomlands och tar med sig ett av barnen. Ni kan då välja att fadern skall ha ensam vårdnad om det barnet och att modern skall ha vårdnaden om resten av barnen.</div>
        </section>
        <section class="fsect" id="living-section">
            <h2 id="living_header" class="fsect__header fsect__header_multi fsect__header_living-error">Boförälder<br>
                <span class="subheader">Hoppa över denna fråga om ni inte har gemensamma barn under 18 år</span></h2>
            <p>Hos vem ska barnen bo?</p>
            <p class="greytext">Om ni vill, kan tingsrätten kan besluta att någon av er skall vara boförälder åt ett eller flera av barnen. Med boförälder menas att ni är den barnet skall bo hos. De allra flesta föräldrar kommer dock överens om detta själv, utan att tingsrätten beslutar om det.</p>
            <div class="faq">
                <a href="#" class="faq__switch">Öppna vanliga frågor och svar</a>
                <div class="faq__list">
                    <h3 class="faq__header">Måste tingsrätten besluta var barnen ska bo?</h3>
                    <p class="faq__text">Nej. Ni kan bestämma detta på egen hand, vilket majoriteten gör. Men möjligheten att få ett juridiskt beslut på vem barnen ska bo hos finns. Välj det alterntiv som känns bäst för er. Vi granskar ert svar. Kommer vi fram till att ni valt ett mindre lämpligt alternativ för just er situation, så kontaktar vi er och går igenom det.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper">
                    <div class="radio">
                        <input class="form-row__field radio__input" type="radio" id="living-consent" name="living" value="consent"/>
                        <label for="living-consent" class="radio__label">Vi kommer själva överens om var barnen skall bo. (Vanligast)</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper">
                    <div class="radio">
                        <input class="form-row__field radio__input" type="radio" id="living-divided" name="living" value="divided"/>
                        <label for="living-divided" class="radio__label">Vi vill att tingsrätten beslutar vem som skall vara boförälder:</label>
                    </div>
                </div>
            </div>
            <div class="form-row form-row_indented form-row_indented_wife">
                <label>Jag, Kvinnan, ska vara boförälder åt följande barn:</label>
            </div>
            <div class="form-row form-row_indented form-row_indented_husband">
                <label>Jag, Mannen, ska vara boförälder åt följande barn:</label>
            </div>
            <div id="living_error" class="error">Eftersom ni fyllt i att ni har gemensamma barn måste ni ange om ni vill lösa frågan om boförälder själva eller om ni vill att tingsrätten ska besluta om det.</div>
            <div id="living_error2" class="error">Vill ni att mannen skall vara boförälder kan ni inte välja att kvinnan skall ha ensam vårdnad om samma barn.</div>
            <div id="living_error3" class="error">Vill ni att kvinnan skall vara boförälder kan ni inte välja att mannen skall ha ensam vårdnad om samma barn.</div>
            <div id="living_error4" class="error">Ni har valt att barnet skall bo med en annan förälder än den ni uppgav ni ville skulle ha vårdnaden om barnet/barnen. Var god korrigera.</div>
            <div id="living_error5" class="error">Vill ni att tingsrätten skall besluta vem som ska vara boförälder måste ni ange vem som skall vara boförälder åt barnet.</div>
        </section>
        <section class="fsect" id="waiting-section">
            <h2 id="waiting_header" class="fsect__header fsect__header_waiting-error">Betänketid</h2>
            <p>Vill ni skiljas direkt eller vänta?</p>
            <p class="greytext">I många fall tvingar lagen en att vänta 6 månader innan man kan skilja sig. Till exempel om man bor med barn under 16 år. Det kallas för betänketid. Vill du inte ha betänketid, gör vi vad vi kan för att du ska kunna undvika det och skiljas direkt. </p>
            <div class="faq">
                <a href="#" class="faq__switch">Öppna vanliga frågor och svar</a>
                <div class="faq__list">
                    <h3 class="faq__header">Vad händer om jag blir tilldelad betänketid?</h3>
                    <p class="faq__text">Då kommer du bli tvungen att även skriva under en “fullföljdsansökan” efter 6 månader. Fullföljdsansökan ingår i paketet och kostar inget extra.</p>
                    <h3 class="faq__header">Jag vill absolut inte ha betänketid.</h3>
                    <p class="faq__text">Svara då att du inte vill ha betänketid. Vi gör då vad vi kan för att du ska kunna skiljas direkt. Om vi behöver tillämpa något undantag som kräver extra dokumentation, t.ex. ett särlevnadsintyg, så upprättar vi det utan extra kostnad. Vi sköter det utan din inblandning.</p>
                    <h3 class="faq__header">Kan jag välja att ha betänketid även om lagen inte kräver det?</h3>
                    <p class="faq__text">Absolut. Vissa väljer att ha betänketid trots att de inte behöver det. Man kanske vill påbörja sin skilsmässa, men skynda långsamt. Fullföljer man inte sin betänketid med en fullföljdsansökan så avskrivs ärendet och man förblir gift.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="think-yes" name="think" value="yes"/>
                            <label for="think-yes" class="radio__label">Ja, vi vill ha betänketid.</label>
                        </div>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="think-no" name="think" value="no"/>
                            <label for="think-no" class="radio__label">Nej, vi vill inte ha betänketid. (Vanligast)</label>
                        </div>
                    </div>
                </div>
                <div id="think_error" class="error">Ni måste svara på om ni vill ha betänketid eller ej.</div>
            </div>
            <div class="form-row">
                <label>Har du och din partner bott ihop någon gång under de senaste två åren?</label>
                <div class="clearfix">
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="living_together-yes" name="living_together" value="yes"/>
                            <label for="living_together-yes" class="radio__label">Ja.</label>
                        </div>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="living_together-no" name="living_together" value="no"/>
                            <label for="living_together-no" class="radio__label">Nej.</label>
                        </div>
                    </div>
                </div>
                <div id="living_together_error" class="error">Ni måste svara på frågan.</div>
            </div>
            <div class="form-row">
                <label>Bor någon av er med ett barn under 16 år som du/ni har vårdnaden om? (Det har ingen betydelse om barnet är gemensamt eller ett barn från ett tidigare förhållande.)</label>
                <div class="clearfix">
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="childs_bellow_16-yes" name="childs_bellow_16" value="yes"/>
                            <label for="childs_bellow_16-yes" class="radio__label">Ja.</label>
                        </div>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_half">
                        <div class="radio">
                            <input class="form-row__field radio__input" type="radio" id="childs_bellow_16-no" name="childs_bellow_16" value="no"/>
                            <label for="childs_bellow_16-no" class="radio__label">Nej.</label>
                        </div>
                    </div>
                </div>
                <div id="childs_bellow_16_error" class="error">Ni måste svara på frågan.</div>
            </div>
        </section>
        <section class="fsect" id="house-section">
            <h2 id="house_header" class="fsect__header fsect__header_house-valid">Kvarsittningsrätt</h2>
            <p><b>(Ni kan hoppa över denna fråga om ni vill)</b></h2></span></p></br> 
                


            <p>Vem ska bo kvar?</p>
            <p class="greytext">Vid skilsmässa kan makarna bestämma vem av dem som ska ha rätt att i fortsättningen bo kvar i deras gemensamma bostad. Detta är bara ett tillfälligt beslut som gäller tills skilsmässan är avklarad. Det har inget med äganderätt att göra.</br></br> 
            Om ni är överens om att endast en av er ska bo kvar i er gemensamma bostad och vill att tingsrätten ska besluta detta, kan ni ange vem av er som ska ha “kvarsittningsrätt”. De flesta hoppar över denna fråga och kommer själva överens om detta. Du kan också ändra ditt svar senare om du vill, genom att kontakta oss.</p>
            <div class="faq">
                <a href="#" class="faq__switch">Öppna vanliga frågor och svar</a>
                <div class="faq__list">
                    <h3 class="faq__header">Måste jag svara på denna fråga?</h3>
                    <p class="faq__text">Nej, de flesta hoppar över denna fråga och kommer överens om vem som ska bo kvar på egen hand. Du behöver inte svara på denna fråga, om du inte vill. Bor ni redan på olika adresser och är okej med detta, så finns det ingen större poäng med att begära ett beslut av tingsrätten.</p>
                    <h3 class="faq__header">Om tingsrätten beslutar att jag ska ha kvarsittningsrätt, betyder det då att jag äger bostaden?</h3>
                    <p class="faq__text">Nej, det har ingenting med ägandet att göra. Det betyder bara att du har rätt att bo kvar i bostaden fram tills att skilsmässan är färdig och ni kommit överens om hur ni vill dela upp era tillgångar. Kvarsittningsrätt är bara ett temporärt beslut.</p>
                    <h3 class="faq__header">Kan jag ändra mitt val senare?</h3>
                    <p class="faq__text">Ja. Vill du ändra på något svarsalternativ senare, så upprättar vi nya handlingar till dig utan extra kostnad.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper">
                    <div class="checkbox checkbox_vcenter">
                        <input type="checkbox" id="house" class="form-row__field checkbox__input" name="house" value="yes" />
                        <label for="house" class="checkbox__label">Jag, </label>
                    </div>
                </div>
                <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                    <li>
                        <select class="form-row__field form-row__field_vcenter" id="who_house" name="who_house">
                            <option value="wife">Kvinnan</option>
                            <option value="husband">Mannen</option>
                        </select>
                    </li>
                </div>
                <div>
                    <p class="p_vcenter">ska bo kvar i vårt gemensamma hem.</p>
                </div>
            </div>
        </section>
        <section class="fsect" id="confirm-section">
            <h2 id="confirm_header" class="fsect__header fsect__header_noimage">Bekräfta köp</h2>
            <p>Vem är beställare och kontaktperson?</p>
            <p class="greytext">Endast en person kan vara fakturamottagare.</p>
            <div class="faq">
                <a href="#" class="faq__switch">Öppna vanliga frågor och svar</a>
                <div class="faq__list">
                    <h3 class="faq__header">Hur betalar jag?</h3>
                    <p class="faq__text">Du får hem en faktura som betalas inom 30 dagar.</p>
                    <h3 class="faq__header">Kan jag betala genom avbetalning?</h3>
                    <p class="faq__text">Ja. Det är Klarna AB, Sveriges största kreditbolag, som sköter all fakturering för SkilsmässaOnline.se. De erbjuder avbetalning på alla fakturor, men tar ut en avgift om du väljer att betala genom avbetalning. Du hittar mer information om hur du går tillväga på din faktura.</p>
                    <h3 class="faq__header">Kan jag betala med kreditkort direkt?</h3>
                    <p class="faq__text">Nej.</p>
                    <h3 class="faq__header">Kan vi dela på betalningen?</h3>
                    <p class="faq__text">Hur ni väljer att dela upp kostnaden mellan er, är upp till er. Men tyvärr kan endast en person vara fakturamottagare.</p>
                    <h3 class="faq__header">Kommer vi att skiljas direkt efter att jag klickat på beställningsknappen?</h3>
                    <p class="faq__text">Nej. Ni är tvungna att personligen skriva under den/de handlingar vi upprättar och postar hem till er.</p>
                    <h3 class="faq__header">Vad händer om vi väljer att avbryta och inte skriver under?</h3>
                    <p class="faq__text">Väljer ni att avbryta er skilsmässa så upprättar vi nya handlingar åt er i framtiden utan extra kostnad.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_quarter
                    form-row__field-wrapper_halfable">
                    <li>
                        <select class="form-row__field form-row__field_vcenter" id="payment" name="payment">
                            <option value="0">Välj nedan</option>
                            <option value="wife">Kvinnan</option>
                            <option value="husband">Mannen</option>
                        </select>
                    </li>
                </div>
                <div>
                    <p class="p_vcenter">är beställare och fakturamottagare.</p>
                </div>
                <div id="payment-pay-error" class="error">Ni måste ange vem som skall stå som mottagare av fakturan.
                    Det går tyvärr bara att välja en person.</div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="cellphone" class="form-row__field-label">Telefonnummer</label>
                    <li>
                        <input type="text" class="form-row__field" id="cellphone" name="cellphone" placeholder="070-xxx xx xx">
                    </li>
                    <div id="cellphone_error" class="error">Du måste ange ett telefonnummer.</div>
                </div>
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="email" class="form-row__field-label">E-post</label>
                    <li>
                        <input type="text" class="form-row__field" id="email" name="email" placeholder="jag@exempel.se">
                    </li>
                    <div id="email_error" class="error">Du måste ange en e-postadress.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row__field-wrapper">
                    <div class="checkbox checkbox_vcenter">
                        <input type="checkbox" id="confirm" class="form-row__field checkbox__input" name="confirm" value="yes" />
                        <label for="confirm" class="checkbox__label"></label>
                    </div>
                </div>
                <div class="faq faq_terms">
                    <a href="#" class="faq__switch">Jag har läst och förstått villkoren</a>
                    <div class="faq__list">
                        <h3 class="faq__header">Villkor</h3>
                        <p class="faq__text">Köpvillkor: En faktura med 30 dagars kredittid postas till den person som angivits som beställare av tjänsten. Vid försenad betalning utgår påminnelseavgift med det belopp som är tillåtet enligt lag f.n. 50 kr samt dröjsmålsränta med 2% per månad + gällande referensränta. Förenklad kreditprövning utan kännedomskopia sker och leverans sker endast till folkbokförd adress. Enligt Distans- och hemförsäljningslag (2005:59) har du rätt att frånträda distansavtalet (ångerrätt) genom att till Skilsmässa Online lämna eller sända ett meddelande om detta inom 14 dagar från den dag avtal om beställning av tjänst ingåtts. Avtalet anses ingått när du klickat på bekräfta köp. Vi är inte ansvariga för ekonomisk skada, direkt eller indirekt, som kan uppstå genom tjänstens användning, genom att tjänst ej kan nyttjas eller på grund av fel och brister i den information som tillhandahålles. Vårt ansvar gentemot brukaren av tjänsten kan aldrig bli större än det belopp som erlagts för tjänstens nyttjande. Alla personliga uppgifter är konfidentiella och regleras utav PUL (Personuppgiftslagen 1998:204). OBS! Tänk igenom ert beslut innan beställning. I många fall kan en skilsmässa undvikas genom bättre kommunikation eller äktenskapsrådgivning.</p>
                    </div>
                    <div id="confirm_error" class="error">Du måste godkänna villkoren</div>
                </div>
            </div>
            <div class="form-row form-row_submit">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <li>
                        <button class="form-row__field form-row__field_submit" id="submitButton" name="submitButton">BEKRÄFTA KÖP</button>
                    </li>
                </div>
            </div>
        </section>

    </div>

    <script type="text/template" id="child-template">
        <div class="child clearfix" data-child-id="{{N}}">
            <div class="form-row">
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="child_{{N}}_fname">Förnamn</label>
                    <li>
                        <input type="text" class="form-row__field form-row__field_child-fname" id="child_{{N}}_fname" name="child_{{N}}_fname" placeholder="Lukas">
                    </li>
                    <div id="child_{{N}}_fname_error" class="error">Var god ange barnets förnamn.</div>
                </div>
                <div class="form-row__field-wrapper form-row__field-wrapper_half">
                    <label for="child_{{N}}_lname">Efternamn</label>
                    <li>
                        <input type="text" class="form-row__field form-row__field_child-lname" id="child_{{N}}_lname" name="child_{{N}}_lname" placeholder="Nilson">
                    </li>
                    <div id="child_{{N}}_lname_error" class="error">Var god ange barnets efternamn.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="clearfix">
                    <label>Personnummer</label>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_year" id="child_{{N}}_year" name="child_{{N}}_year">
                                <option value="0">År</option>    <!-- default value must be empty for performing validation -->
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_month" id="child_{{N}}_month" name="child_{{N}}_month">
                                <option value="0">Månad</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <select class="form-row__field form-row__field_day" id="child_{{N}}_day" name="child_{{N}}_day">
                                <option value="0">Dag</option>
                            </select>
                        </li>
                    </div>
                    <div class="form-row__field-wrapper form-row__field-wrapper_quarter">
                        <li>
                            <input type="text" class="form-row__field" id="child_{{N}}_ssn2" name="child_{{N}}_ssn2" placeholder="1234">
                        </li>
                    </div>
                </div>
                <div id="child_{{N}}_personnummer_error" class="error">Var god ange barnets personnummer.</div>
            </div>
            <a href="#" id="remove-child_{{N}}" class="remove-child">RADERA BARN</a>
        </div>
    </script>
    <script type="text/template" id="child-radio-custody-template-wife">
        <div class="child-radio clearfix" data-child-id="{{N}}">
            <div class="form-row__field-wrapper">
                <div class="radio">
                    <input id="child_{{N}}_custody-wife" class="form-row__field radio__input"
                           value="wife" name="child_{{N}}_custody" type="radio"/>
                    <label class="radio__label" for="child_{{N}}_custody-wife"></label>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="child-radio-custody-template-husband">
        <div class="child-radio clearfix" data-child-id="{{N}}">
            <div class="form-row__field-wrapper">
                <div class="radio">
                    <input id="child_{{N}}_custody-husband" class="form-row__field radio__input"
                           value="husband" name="child_{{N}}_custody" type="radio"/>
                    <label class="radio__label" for="child_{{N}}_custody-husband"></label>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="child-radio-living-template-wife">
        <div class="child-radio clearfix" data-child-id="{{N}}">
            <div class="form-row__field-wrapper">
                <div class="radio">
                    <input id="child_{{N}}_living-wife" class="form-row__field radio__input"
                           value="wife" name="child_{{N}}_living" type="radio"/>
                    <label class="radio__label" for="child_{{N}}_living-wife"></label>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="child-radio-living-template-husband">
        <div class="child-radio clearfix" data-child-id="{{N}}">
            <div class="form-row__field-wrapper">
                <div class="radio">
                    <input id="child_{{N}}_living-husband" class="form-row__field radio__input"
                           value="husband" name="child_{{N}}_living" type="radio"/>
                    <label class="radio__label" for="child_{{N}}_living-husband"></label>
                </div>
            </div>
        </div>
    </script>

</div>
